<div class="top-header">
    <div class="container-fluid inline row">
        <div class="">
            <h2 class="food-orb">Food&#x26AB;rb </h2>
        </div>
       <!-- <div class="icon" style="z-index: -1;">
            <span style='font-size:100px;'>&#9732;</span>
        </div> -->
    </div>
 
</div>
<div *ngIf="!loggedIn" class="top-under ">
    <div class="align-right">
        <a routerLink="/">Home</a> |
        <a routerLink="/login">Login</a> |
        <a routerLink="/register">Register</a> |

        <!-- Dropdown -->
        <!-- <button onclick="show()" class="dropbtn">Options</button>
        <div class="dropdown-content" id="dropdown-menu">
            <a routerLink="/register">Register</a> 
            <a routerLink="/register">Register</a> 
            <a routerLink="/register">Register</a> 
        </div> -->
        <a routerLink="/profile">Profile</a> |
        <a routerLink="/cart">Cart</a> |
        <a routerLink="/tracking">Tracking</a> |
        <a routerLink="/users">Users</a> |
        <a routerLink="/settings">Settings</a> |
    </div>
    <div class="styler"></div>
    
</div>
<div *ngIf="loggedIn" class="top-under ">
    <div class="align-right">
        
    </div>
</div><div class="styler"></div>
