<h3>Add a Payment</h3>
<form #paymentForm="ngForm" (ngSubmit)="addPayment()">
    <label for="">Name on Card
        <input required type="text" [(ngModel)]="newPaymentForm.name" name="name" #name="ngModel"/>
        <p *ngIf="name.errors && name.touched">
            <span class="required" *ngIf="name.errors.required">Name is required</span>
        </p>
    </label><br>
    <label for="">Card Number
        <input required type="text" [(ngModel)]="newPaymentForm.card" name="card" #card="ngModel"
               minlength="13" maxlength="19"/>
        <p *ngIf="card.errors && card.touched">
            <span class="required" *ngIf="card.errors.required">Card number is required</span>
            <span class="required" *ngIf="card.errors.minlength">Card number must be at least 13 digits</span>
        </p>
    </label><br>
    <label for="">CVC
        <input required type="text" [(ngModel)]="newPaymentForm.cvc" name="cvc" #cvc="ngModel"
               minlength="3" maxlength="4"/>
        <p *ngIf="cvc.errors && cvc.touched">
            <span class="required" *ngIf="cvc.errors.required">CVC is required</span>
        </p>
    </label><br>
    <label for="">Expiration Date
        <input required type="text" [(ngModel)]="newPaymentForm.date" name="date" #date="ngModel"
               placeholder="MM/YY"/>
        <p *ngIf="date.errors && date.touched">
            <span class="required" *ngIf="date.errors.required">Expiration date is required</span>
        </p>
    </label><br>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <button class="btn-primary" type="submit" [disabled]="paymentForm.invalid">Add Payment</button>
</form>