<div class="d-flex margin justify-content-center content-center">
    <div class="side-padding card">
        <h3 class="card-header side-padding">Login</h3>
        <div class=" padding card-body">
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            <form (ngSubmit)="login()" #loginForm="ngForm" display="inline-block text-align">
                <!--="login(loginForm)"-->
                <label>
                    Email
                    <input type="text" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="model.email" name="email" #email="ngModel" />
                    <div *ngIf="email.errors && email.touched">
                        <p class="required" *ngIf="email.errors.required">Email is required</p>
                        <p class="required" *ngIf="email.errors.pattern">Please enter valid email address</p>
                    </div>
                    
                </label>
                <br>
                <label>
                    Password
                    <input type="password" required minlength="6" [(ngModel)]="model.password" #password="ngModel"
                        name="password" />
                    <div *ngIf="password.errors && password.touched">
                        <p class="required" *ngIf="password.errors.required">Password is required</p>
                    </div>
                </label> <br>
                <!-- <button class="btn-primary"  (click)="login()">Login</button> -->
                <div class="row">
                <div class="col-s">
                    <button class="btn-primary slight-margin" [disabled]="loginForm.status === 'INVALID' || isLoading"
                  type="submit">{{ isLoading ? 'Logging in...' : 'Login' }}</button>
                </div>
                  <div class="col">
                       <a class="" routerLink="/forgotpassword">Forgot Your Password?</a> <br>
                <a routerLink="/register">Don't have an acount yet?</a>
                  </div>
                </div>
               
            </form>
        </div>
    </div>
</div>