<div class="d-flex margin justify-content-center content-center">
    <div class="side-padding card">
        <h3 class="card-header side-padding">Forgot Password</h3>
        <div class="padding card-body">
            <form (ngSubmit)="findEmail(email.value)" #forgotPassword="ngForm">
                <label>
                    Email
                    <input type="email" required [(ngModel)]="model.email" name="email" #email="ngModel" />
                    <div *ngIf="email.errors && email.touched">
                        <p class="required" *ngIf="email.errors.required">Email is required</p>
                    </div>
                </label>
                <br>
                <p>Click "Send" to receive a password reset link email.</p>
                <br>
                <p *ngIf="message" [class.success]="isSuccess" [class.required]="!isSuccess">
                    {{ message }}
                </p>
                <button class="btn-primary" [disabled]="forgotPassword.invalid" type="submit">Send</button>
                <button class="btn-secondary slight-margin" routerLink="/login" type="button">Back to Login</button>
            </form>
        </div>
    </div>
</div>