<div class="d-flex margin justify-content-center content-center">
    <!-- <h1>Welcome!</h1> -->
    <!-- <hr>
    <h2></h2> -->
    <div class="side-padding card">
        <h3 class="card-header side-padding">Forgot Password</h3>
        <div class=" padding card-body">
            <form (ngSubmit)="findEmail(email.value)" #forgotPassword="ngForm" display="inline-block text-align">
                <!--="login(loginForm)"-->
                <label>
                    Email
                    <input type="text" required [(ngModel)]="model.email" name="email" #email="ngModel" />
                    <div *ngIf="email.errors && email.touched">
                        <p class="required" *ngIf="email.errors.required">Email is required</p>
                        <p class="required" *ngIf="email.errors.pattern">Please enter valid email address</p>
                    </div>
                </label>
                <br>
                <p>Click "Send" to recieve a password reset link email.</p> <br>
                <!-- <button class="btn-primary"  (click)="findEmail(email.value)">Send</button> -->
                <button class="btn-primary" [disabled]="forgotPassword.status === 'INVALID'"
                  type="submit">Send</button>
            </form>
        </div>
    </div>
</div>