<div class="d-flex justify-content-center">
    <div class="container-fluid search-results">
        <div class="margin card">
            <h1 class="margin text-center">User Page</h1>
            <div class="container-fluid">
                <hr class="rule">
            </div>

            <img src="src/assets/images/user-placeholder.jpeg" alt="">
            <div class="card-body">

                <table class="table">
                    <thead class="thead-dark">
                        <h2>Details</h2>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="thead-dark" scope="row">User ID:</th>
                            <td>
                                <!-- <a ngIf="!showEdit">{{user.userID}}</a> -->
                            </td>
            
                            <!-- <th scope="col">Action</th> -->
                        </tr>
                        <tr>
                                <th class="thead-dark" scope="row">Name:</th>
                                
                        </tr>
                        <tr>
                                <th class="thead-dark" scope="row">Email:</th>
                                
                        </tr>
                        <tr>
                            <th class="thead-dark" scope="row">Phone:</th>

                        </tr>
                        <!-- <tr appColor class="data" *ngFor="let employee of employees; let i = index">
                            
                            <td>
                                <a *ngIf="!showEdit">{{employee.firstName}}</a>
                            </td>
                            <td>
                                <a *ngIf="!showEdit">{{employee.lastName}}</a>
                            </td>
                            <td>
                                <a *ngIf="!showEdit">{{employee.salary | currency}}</a>
                            </td>
                            <td>
                                <a *ngIf="!showEdit">{{employee.dob | date: 'mediumDate' | uppercase}}</a>
                            </td>
                            <td>
                                <a *ngIf="!showEdit">{{employee.email}}</a>
                            </td>
                            <button *ngIf="!showEdit" (click)="EditEmp(i)">Edit</button>
                        </tr> -->
                        <!-- <tr class="edit" *ngFor="let employee of employees; let i = index">
                                    <td><input *ngIf="showEdit" type="text" [(ngModel)]="employee.employeeID"/></td>
                                    <td><input *ngIf="showEdit" type="text" [(ngModel)]="employee.firstName"/></td>
                                    <td><input *ngIf="showEdit" type="text" [(ngModel)]="employee.lastName"/></td>
                                    <td><input *ngIf="showEdit" type="text" [(ngModel)]="employee.salary"/></td>
                                    <td><input *ngIf="showEdit" type="text" [(ngModel)]="employee.dob"/></td>
                                    <td><input *ngIf="showEdit" type="text" [(ngModel)]="employee.email"/></td>
                                    <button *ngIf="showEdit" (click)="UpdateEmp()">Update</button>
                                </tr> -->

                    </tbody>
                </table>
                <a routerLink="/settings">Edit Address</a>

            </div>
        </div>
    </div>
</div>