<h3>Add an Address</h3>
<form #addressForm="ngForm" (ngSubmit)="addAddress()">
    <label>Name
        <input required type="text" [(ngModel)]="newAddressForm.name" name="name" #name="ngModel"/>
        <p *ngIf="name.errors && name.touched">
            <span class="required" *ngIf="name.errors.required">Name is required</span>
        </p>
    </label><br>
    <label>Address
        <input required type="text" [(ngModel)]="newAddressForm.address" name="address" #address="ngModel"/>
        <p *ngIf="address.errors && address.touched">
            <span class="required" *ngIf="address.errors.required">Address is required</span>
        </p>
    </label><br>
    <label>City
        <input required type="text" [(ngModel)]="newAddressForm.city" name="city" #city="ngModel"/>
        <p *ngIf="city.errors && city.touched">
            <span class="required" *ngIf="city.errors.required">City is required</span>
        </p>
    </label><br>
    <label>State
        <input required type="text" [(ngModel)]="newAddressForm.state" name="state" #state="ngModel"/>
        <p *ngIf="state.errors && state.touched">
            <span class="required" *ngIf="state.errors.required">State is required</span>
        </p>
    </label><br>
    <label>Zip Code
        <input required type="text" [(ngModel)]="newAddressForm.zip" name="zip" #zip="ngModel"/>
        <p *ngIf="zip.errors && zip.touched">
            <span class="required" *ngIf="zip.errors.required">Zip Code is required</span>
        </p>
    </label><br>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <button class="btn-primary" type="submit" [disabled]="addressForm.invalid">Add Address</button>
</form>